{% extends "base_layout.html" %}
{% load static %}
{% block title %}Sign Up{% endblock title %}
{% block content %}
<div class = "container">
    <section class = "signup">
        <h1>Регистрация</h1>
        <div class ="row g-4 justify-content-center">
            <div class = "col-lg-8">
                <form class = "form" action ="/accounts/signup/" method="post">
                    {% csrf_token %}
                    {{ form }}
                    <button type = "submit" class = "btn">Зарегистрироваться</button>
                </form>
            </div>
        </div>
    </section>
</div>
{% endblock content %}