{%extends "base_layout.html" %}
{% load static %}
{%block title %}About{% endblock title %}
{%block content %}
<section class = "about">
    <div class = "container">
        <h1>О нас</h1>
        <p>Принимая во внимание, что признание достоинства, присущего всем членам человеческой семьи, 
            и равных и неотъемлемых прав их является основой свободы, справедливости и всеобщего мира; 
            и принимая во внимание, что пренебрежение и презрение к правам человека привели к варварским актам, 
            которые возмущают совесть человечества, и что создание такого мира, в котором люди будут иметь 
            свободу слова и убеждений и будут свободны от страха и нужды, провозглашено как высокое стремление людей; 
            и принимая во внимание, что необходимо, чтобы права человека охранялись властью закона в целях обеспечения 
            того, чтобы человек не был вынужден прибегать, в качестве последнего средства, к восстанию против тирании и угнетения; и</p>
        <h2>Адрес</h2>
        <p>г. Адрес, улица адрес 1</p>
        <h2>Документы</h2>
        <div class ="row g-4">
            <div class = "col-lg-6">
                <p class = "catalogue_item">тут есть файл</p>
            </div>
            <div class = "col-lg-6">
                <p class = "catalogue_item">тут есть файл</p>
            </div>
        </div>
    </div>
</section>
{% endblock content %}