{% extends "base_layout.html" %}
{% load static %}
{% block title %}Homepage{% endblock title %}
{% block content %}

<section class = "promo">
    <div class = "container">
        <div class="promo_base">
            <img src = "{% static '/img/back.png' %}">
            <div class = "promo_base-text">
                <h1>
                    Аренда оборудования<br>для уборки
                </h1>
                <p>
                    Делайте свой дом чистым и красивым  
                </p>
                <a href = "{% url 'catalogue:list' %}">Каталог</a>
            </div>
        </div>  
    </div>
</section>

<section class = "stocks">
    <div class = "container">
        <h2>Акции</h2>
        <div class="swiper">
            <div class="swiper-wrapper">
                <div class = "swiper-slide">
                    <img src="{% static '/img/stock1.png' %}">
                </div>
                <div class = "swiper-slide">
                    <img src="{% static '/img/stock1.png' %}">
                </div>
                <div class = "swiper-slide">
                    <img src="{% static '/img/stock1.png' %}">
                </div>
                <div class = "swiper-slide">
                    <img src="{% static '/img/stock1.png' %}">
                </div>
            </div>
        </div>
    </div>
</section>

<section class = "conditions">
    <div class = "container">
        <h2>Для аренды оборудования необходим паспорт!</h2>
        <a class = "btn" href = "{% url 'deliverypayment' %}">Доставка и оплата</a>
    </div>
</section>

<section class = "reviews">
    <div class = "container">
        <h2>Отзывы наших клиентов</h2>
        <div class ="row">
            <div class = "col-lg-4">
                <div class = "reviwes_card">
                    <h3>Имя</h3>
                    <p>Принимая во внимание, что признание достоинства, 
                    присущего всем членам человеческой семьи, 
                    и равных и неотъемлемых прав их является основой свободы, 
                    справедливости и всеобщего мира; 
                    и принимая во внимание, что пренебрежение и презрение
                    к правам человека привели к варварским актам, </p>
                </div>
            </div>
            <div class = "col-lg-4">
                <div class = "reviwes_card">
                    <h3>Имя</h3>
                    <p>Принимая во внимание, что признание достоинства, 
                    присущего всем членам человеческой семьи, 
                    и равных и неотъемлемых прав их является основой свободы, 
                    справедливости и всеобщего мира; 
                    и принимая во внимание, что пренебрежение и презрение
                    к правам человека привели к варварским актам, </p>
                </div>
            </div>
            <div class = "col-lg-4">
                <div class = "reviwes_card">
                    <h3>Имя</h3>
                    <p>Принимая во внимание, что признание достоинства, 
                    присущего всем членам человеческой семьи, 
                    и равных и неотъемлемых прав их является основой свободы, 
                    справедливости и всеобщего мира; 
                    и принимая во внимание, что пренебрежение и презрение
                    к правам человека привели к варварским актам, </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class = "about">
    <div class = "container">
        <h2>О нас</h2>
        <p>Принимая во внимание, что признание достоинства, присущего всем членам человеческой семьи, 
            и равных и неотъемлемых прав их является основой свободы, справедливости и всеобщего мира; 
            и принимая во внимание, что пренебрежение и презрение к правам человека привели к варварским актам, 
            которые возмущают совесть человечества, и что создание такого мира, в котором люди будут иметь 
            свободу слова и убеждений и будут свободны от страха и нужды, провозглашено как высокое стремление людей; 
            и принимая во внимание, что необходимо, чтобы права человека охранялись властью закона в целях обеспечения 
            того, чтобы человек не был вынужден прибегать, в качестве последнего средства, к восстанию против тирании и угнетения; и</p>
    </div>
</section>
{% endblock content %}